@use "../custom" as *; //para usar directamente las variables y mixins de Bootstrap sin el epsoacio de nombres

.carusel__reviews {
  height: 430px;
  display: flex;
  justify-content: space-around;
}
.cuadrado1 {
  width: 556px;
  height: 216px;
  border: 5px solid transparent;
  border-image: linear-gradient(138deg, $primary 10%, $dark 70%) 1;
}
.cuadrado2 {
  align-self: flex-end;
  width: 556px;
  height: 216px;
  border: 5px solid transparent;
  border-image: linear-gradient(345deg, $primary 10%, $dark 70%) 1;
}
.wrapper {
  align-self: center;
}
.wrapper .outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .card {
  background: $white;
  width: 270px;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 100px 20px 20px 100px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
  @include media-breakpoint-up(sm) {
    width: 430px;
  }
}
.outer:hover .card {
  animation-play-state: paused;
}
.wrapper .card:last-child {
  animation-delay: calc(-3s * var(--delay));
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%,
  20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%,
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
.card .content {
  display: flex;
  align-items: center;
  color: $dark;
}
.wrapper .card .img {
  height: 90px;
  width: 90px;
  position: absolute;
  left: -20px;
  background: $white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  @include media-breakpoint-up(sm) {
    left: -3px;
  }
}
.card .img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card .details {
  margin-left: 80px;
}
.details span {
  font-weight: 600;
  font-size: 18px;
}
