@use "../custom" as *; //para usar directamente las variables y mixins de Bootstrap sin el epsoacio de nombres

.z-index {
  z-index: 1;
}

.logo {
  width: 14rem;
  @include media-breakpoint-up(lg) {
    width: 17rem;
  }
}

.redes {
  background-color: rgba(0, 0, 0, 0.655);
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
}
.up {
  top: 0;
  transition: 0.6s;
}
