.eventos {
    .card {
        filter: blur(4px);

        &:hover {
            cursor: pointer;
        }
        img {
            border-radius: .5rem;
        }
        .fecha {
            color: #877457;
        }
    }
}